body {
    background: linear-gradient(#c689e2 0%, #dd4c4ed2 40%, #7420d300 100%);
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.img {
    width: 200px;
}

.profile h2 {
    color: black;
    transform: translateY(5px);
}

.profile p {
    color: black;
    transform: translateY(10px);
}

.biodata {
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(238, 238, 238) 40%, rgba(237, 237, 241, 0) 100%);
    padding-bottom: 250px;
    padding-top: 100px;
}

.row {
    padding: 0px 20px;
}

.achievement {
    padding-top: 80px;
}

.footer {
    background-color: rgb(255, 249, 249);
    padding-bottom: 100px;
}

.kontak a {
    color: black;
    font-size: 50px;
}

.text p {
    transform: translateY(50px);
}

.tengah h1 {
    transform: translateY(130px);
}

.tombol {
    transform: translateY(150px);
    text-align: center;
}

.kanan {
    transform: translateY(40px);
}

.kiri {
    text-align: center;
}

.capai {
    transform: translate(10px);
}    

.urutan {
    padding-top: 80px;
}
